.site-footer{
    background-color: blue;
    color: white;
}

body{
   background-color: white;
}

.d-grip{
    padding: 2.5;
}

.bottom-text {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-left: 200px;
    padding-right: 199px;
    font-size:x-small;
}

.card2 {
    height: 100%;
  }
  .card-img-top {
    
    width: 70px;
    height: 70px;
    object-fit:scale-down;
    margin: auto;
  }
  .card-img-top2 {
    border-radius: 50%;
    border: solid 1px black;
    width: 70px;
    height: 70px;
    object-fit:scale-down;
    margin: auto;
  }

.card-container{
    justify-content:space-evenly;
}


.card1{
    background-color:#0314FE;
    color: white;
}

.credit{
   align-self: center;
    height: 14vw;
    object-fit: cover;
}

.card-custom {
    width: 70%;
    border: none;
  }

.fourcard-container{
    justify-content:center;
}

.btnGet{
    background-color: rgb(166, 222, 23);
    font-weight: bold;
}

.btnChat {
    color: #0314FE;
    font-weight: bold;
}

.container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .btnLearn{
    display: inline-block;
    color: white;
    border-color: white;
    width: 200px;
    text-align: center;
    position: relative;
 }

 .btnLearn2{
    display: inline-block;
    width: 200px;
    text-align: center;
    position: relative;
 }
 .button-symbol {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
  }

  /* button with the symbol on the right */
  .btnGet{
    display: inline-block;
    width: 200px;
    text-align: center;
    position: relative; 
 }