.site-footer{
    background-color: blue;
    color: white;
}

body{
   background-color: white;
}

.d-grip{
    padding: 2.5;
}

.bottom-text {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-left: 200px;
    padding-right: 199px;
    font-size:x-small;
}

/* .btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding
} */

.card1{
    background-color:#0314FE;
    color: white;
}

.credit{
   align-self: center;
    height: 12vw;
    object-fit: cover;
}
.path60{
    block-size: ;
 }

 .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    width: 150px; /* Adjusted size */
    height: 225px; /* Adjusted size */
    margin: 10px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 10px; /* Adjusted padding */
    background-color: #f9f9f9;
    border-radius: 0 0 8px 8px;
  }

  .card-title {
    font-size: 14px; /* Adjusted font size */
  }

  .card-text {
    font-size: 12px; /* Adjusted font size */
  }