/* whole page starts here */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}


.signin_pg_bg {
    background-image: url(/signin_signup_srcs/Sign\ Up\ -\ CRM\ SIgnin_Plain.png);
    background-size: 100%;
    background-position: 0px -110px;
    background-repeat: no-repeat;
    height: 610px;
}

.signin_pg_main_grid_container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr;
    /* grid-template-rows: 100dvh; */
    grid-auto-flow: row;
    grid-template-areas:
      "signin_pg_left_grid_item signin_pg_right_grid_item";
  }

/* whole page ends here */
/* left side of the page starts here */
  
.signin_pg_left_grid_item { 
    grid-area: signin_pg_left_grid_item;
    color: white;
}
  
.signin_pg_left_flex_container {
    display: flex;
    flex-direction: column;
    margin: 5% 10% 0%;
}

.signin_pg_left_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    line-height: 30px;
    font-weight: 500;
}

.signin_pg_signup_button {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

/* left side of the page ends here */
/* Right side of the page starts here */

.signin_pg_right_grid_item { 
    grid-area: signin_pg_right_grid_item; 
    background-color: aquamarine;
}

.signin_pg_form_container {
    background-color: brown;
    width: 400px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

h1 {
    text-align: center;
    background-color: aqua;
}

.signin_pg_icons {
    position: relative;
    left: 60px;
    top: 3px;
}

.signin_pg_inputs {
    width: 70%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(181, 181, 181);
    margin-left: 25px;
}